@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;900&display=swap");
@font-face {
  font-family: "DINNextLTPro-Heavy";
  src: url("/assets/fonts/DIN/DINNextLTPro-Heavy.otf") format("otf");
}

@font-face {
  font-family: "DIN-BOLD";
  src: url("/assets/fonts/DIN/DIN-BOLD.otf") format("otf");
}

@font-face {
  font-family: "din1451alt-G";
  src: url("/assets/fonts/DIN/din1451alt G.ttf") format("ttf");
}

@font-face {
  font-family: "din1451alt";
  src: url("/assets/fonts/DIN/din1451alt.ttf") format("ttf");
}

p {
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
}

.teaser {
  width: 100%;
  height: 100vh;
  background-image: url("/assets/imgs/background-home.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.tous-les-jours {
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  background-color: #31a5d6;
  font-size: 19px;
  width: 430px;
  margin-bottom: 5px;
}

.chance-de-gagner {
  width: 430px;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  background-color: #f1e521;
  padding: 5px 10px;
  line-height: 34px;
}

.chance-de-gagner p {
  text-align: center;
}

.chance-de-gagner p:first-child {
  font-size: 35px;
  font-weight: 700;
}

.chance-de-gagner p:nth-child(2) {
  font-size: 33px;
  font-weight: 900;
}

.chance-de-gagner p:last-child {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.chance-de-gagner p:last-child::before, .chance-de-gagner p:last-child:after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 80px;
  background-color: black;
  position: relative;
  bottom: 5px;
}

.chance-de-gagner p:last-child::before {
  margin-right: 7px;
}

.chance-de-gagner p:last-child::after {
  margin-left: 7px;
}

.tout-achat {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  margin-top: 5px;
  color: #f1e521;
  font-size: 14.5px;
}

.je-joue {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  margin-top: 50px;
  background-color: #9e0b0f;
  -webkit-box-shadow: 3px -3px 0px 0px white;
          box-shadow: 3px -3px 0px 0px white;
  text-transform: uppercase;
  border: none;
  font-size: 37px;
  color: white;
  border-radius: 10px;
  padding: 0 10px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7.5px;
  color: #d7d8da;
  left: 30px;
  position: relative;
  margin-bottom: 5px;
}

footer .liens {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  text-transform: uppercase;
  min-height: 27px;
}

footer .liens a {
  font-size: 8.5px;
  color: #d7d8da;
}

.formulaire {
  width: 100%;
  min-height: 100vh;
  background-image: url("/assets/imgs/background-form.jpg");
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formulaire h1 {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  color: #d7d8da;
  margin-bottom: 20px;
}

.formulaire form {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 13px;
}

.formulaire form .form-block {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px 20px;
}

@media (min-width: 576px) {
  .formulaire form .form-block {
    width: 570px;
  }
}

.formulaire form .form-block div:not(.checkbox) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 576px) {
  .formulaire form .form-block div:not(.checkbox) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.formulaire form .form-block div:not(.checkbox) input {
  margin: 5px 0;
  padding: 5px;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
}

@media (min-width: 576px) {
  .formulaire form .form-block div:not(.checkbox) input {
    width: 250px;
  }
}

.formulaire form .form-block div:not(.checkbox) input.adresse {
  width: 100%;
}

.formulaire form .form-block div:not(.checkbox) input[type="file"] {
  opacity: 0;
  cursor: pointer;
}

.formulaire form .form-block div:not(.checkbox) span {
  padding: 5px;
  position: absolute;
  bottom: 13px;
  border-bottom: 1px solid white;
  width: 100%;
}

@media (min-width: 576px) {
  .formulaire form .form-block div:not(.checkbox) span {
    width: 250px;
  }
}

.formulaire form .form-block .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.formulaire form .form-block .checkbox label {
  position: relative;
  bottom: 3px;
  left: 7px;
  margin-bottom: 0;
}

.formulaire form .form-block p {
  font-size: 9px;
}

.formulaire .je-joue {
  font-size: 28px;
  margin: 0 auto 100px;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
/*# sourceMappingURL=style.css.map */