*,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  line-height: 1.5;
}

li {
  list-style-type: none;
}

a {
  color: black;
  &:hover {
    color: black;
  }
}
