.jouez-avec,
.formulaire {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: calc(100vh);
}

.jouez-avec {
  background-image: url("../assets/imgs/fond-jouez-avec.jpg");
  h1 {
    text-transform: uppercase;
    color: #adadad;
    font-size: 26px;
    margin: 100px 0 10px;
  }
}

.formulaire {
  background-image: url("../assets/imgs/fond-le-printemps.jpg");
  h1 {
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    font-size: 26px;
    margin: 10px 0;
  }
}

.c-btn {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  margin-top: 50px;
  background-color: #9e0b0f;
  box-shadow: 3px -3px 0px 0px rgb(255, 255, 255);
  text-transform: uppercase;
  border: none;
  font-size: 37px;
  color: white;
  border-radius: 10px;
  padding: 0 10px;
  &--mb {
    margin-bottom: 100px;
  }
}

.rendez-vous {
  p {
    color: white;
    font-size: 18px;
    text-align: center;
  }
  .icons {
    & > img {
      margin: 0 10px;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  .copyright {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7.5px;
    color: white;
    left: 30px;
    position: relative;
    margin-bottom: 5px;
  }
  .liens {
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
    text-align: center;
    text-transform: uppercase;
    min-height: 27px;
    a {
      font-size: 8.5px;
      color: #d7d8da;
    }
  }
}
