body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

header {
  width: 100%;
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  background-image: url("../assets/imgs/fond-header.jpg");
  background-size: cover;
  z-index: 1;
  height: 350px;
  > *:nth-child(3) {
    margin: 0 60px;
  }
  @include media-breakpoint-up(md) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 240px;
  }
}

footer {
  padding: 20px;
  margin-top: auto;
}

.teasing,
.confirmation,
.modalites,
.mentions,
.fin-du-jeu {
  overflow: hidden;
  padding-top: 70px;
  background-image: url("../assets/imgs/fond-enfants.jpg");
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 240px);
}

.modalites,
.mentions {
  background-image: url("../assets/imgs/fond-sans-enfants.jpg");
}

.fin-du-jeu {
  background-image: url("../assets/imgs/fond-fin-du-jeu.jpg");
  background-position: center;
}

.teasing {
  h1 {
    color: $red;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  img {
    position: relative;
    left: 10px;
    width: 650px;
    margin-top: 30px;
    @include media-breakpoint-up(sm) {
      width: auto;
    }
  }
}

.home {
  width: 100%;
  .text-container {
    padding: 70px 15px 0;
    text-align: center;
    background-image: url("../assets/imgs/fond-enfants.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .hasbro-s-associe {
      background: #ffffff50;
      padding: 20px;
      border-radius: 5px;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .text-red {
      position: relative;
      font-size: 26px;
      font-weight: 700;
      color: $red;
      text-transform: uppercase;
    }
    .aidez-nous {
      margin-top: 20px;
      font-weight: 900;
    }
    .deja {
      font-size: 21px;
      margin-bottom: 10px;
    }
    .compteur {
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        display: flex;
        align-items: center;
        font-size: 30px;
        border: 1px solid $red;
        padding: 0 5px;
        margin-right: 2px;
      }
      .mercis {
        display: inline-block;
        font-size: 21px;
        margin-left: 5px;
      }
    }
    .activez-vite {
      font-weight: 900;
      font-size: 32px;
      margin-bottom: 20px;
      -webkit-text-stroke: 2.5px white;
    }
  }
  .form-container {
    text-align: left;
    width: 100%;
    padding: 30px 15px 0;
    background-image: url("../assets/imgs/fond-rouge.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    form {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media-breakpoint-up(sm) {
        width: 360px;
      }
      .produit-label {
        align-self: flex-start;
        margin-top: 15px;
        text-transform: uppercase;
        font-size: 14px;
      }
      input {
        font-size: 14px;
        padding: 0 20px;
        height: 28px;
        width: 100%;
        &[type="submit"] {
          width: auto;
          height: auto;
          border: none;
          text-transform: uppercase;
          font-weight: 800;
          background-color: #384048;
          color: white;
          font-size: 25px;
          padding: 5px 10px;
        }
      }
      ::placeholder {
        color: black;
      }
      label {
        margin-bottom: 0;
      }
      .checkbox {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        input {
          flex: 0 0 20px;
          margin-right: 5px;
        }
      }
    }
    .g-recaptcha {
      margin: 20px 0;
      margin-right: auto;
    }
    .modalites-text {
      text-align: justify;
      margin-top: 10px;
      font-size: 10px;
    }
  }
  .playdoh-img {
    position: absolute;
    bottom: 0;
    &:first-child {
      left: -400px;
    }
    &:last-child {
      right: -400px;
    }
  }
  .fleche {
    position: absolute;
    bottom: -60px;
    right: -80px;
    display: none;
    @include media-breakpoint-up(sm) {
      display: block;
    }
  }
}

.confirmation {
  img {
    position: relative;
    right: 20px;
    width: 650px;
    @include media-breakpoint-up(sm) {
      width: auto;
    }
  }
}

.modalites {
  h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
  }
  article {
    max-width: 640px;
    margin: 20px auto 0;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    h2 {
      margin-bottom: 10px;
      font-size: 12px;
    }
    p {
      margin-bottom: 30px;
    }
    ul {
      padding-left: 20px;
    }
  }
}

.suivez-actualite {
  color: $red;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding: 0 15px;
  a {
    font-weight: 500;
    margin: 10px 0;
    background-color: $red;
    border-radius: 10px;
    width: 250px;
    color: white;
    display: inline-block;
    padding: 2px;
    img {
      width: auto;
      position: relative;
      bottom: 2px;
      left: 0px;
    }
  }
}

.fin-du-jeu {
  position: relative;
  .dates {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 22px;
    transform: translateX(-10px);
    top: 390px;
    z-index: 1;
    position: absolute;
    color: $grey;
    @include media-breakpoint-up(sm) {
      top: 518px;
      transform: none;
    }
  }
  .principale {
    margin-top: 70px;
    width: 650px;
    position: relative;
    right: 15px;
    @include media-breakpoint-up(sm) {
      width: auto;
    }
  }
}
