@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;900&display=swap");

@import "../modules/bootstrap-4.5.3/scss/functions";
@import "../modules/bootstrap-4.5.3/scss/variables";
@import "../modules/bootstrap-4.5.3/scss/mixins/_breakpoints";

$red: #d90000;
$grey: #3f3e3e;

@import "base";
@import "main";
